@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

:root {
    --main-color: #3dcc76;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

body{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    overflow-x: hidden;
}

input, button, textarea, select, a {
    font: inherit;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

button:focus, input:focus {
    outline: none;
}

a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p, pre, a{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

h1{
    font-size: 50px;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}
h6{
    font-size: 16px;
}

.text-with-exclamation-mark{
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 0 5px;
}

.exclamation-mark{
    color: var(--main-color);
}

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: linear-gradient(
      245deg,
      hsl(223deg 68% 6%) 55%,
      hsl(245deg 46% 13%) 85%,
      hsl(253deg 55% 19%) 93%,
      hsl(257deg 62% 25%) 96%,
      hsl(259deg 68% 31%) 99%,
      hsl(261deg 74% 36%) 100%,
      hsl(262deg 80% 42%) 101%,
      hsl(264deg 87% 47%) 101%,
      hsl(266deg 100% 50%) 101%,
      hsl(264deg 100% 61%) 101%,
      hsl(265deg 99% 66%) 101%,
      hsl(266deg 97% 71%) 101%,
      hsl(268deg 95% 76%) 101%,
      hsl(269deg 91% 81%) 101%,
      hsl(270deg 83% 85%) 101%,
      hsl(271deg 68% 90%) 100%,
      hsl(270deg 27% 94%) 100%
    );
}

.container{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
}

.button-square{
    background-color: var(--main-color);
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 20px 66px;
}

.button-square:disabled{
    background-color: #9E9E9E;
}

.button-toggle{
    border: 2px solid var(--main-color);
    padding: 8px 11px;
}

.button-toggle--inactive{
    background-color: transparent;
}

.input-square{
    background-color: var(--main-color);
    border: none;
    outline: none;
    color: inherit;
    cursor: pointer;
    padding: 8px 20px;
    width: 80px;
}

.background-text{
    display: inline-block;
    font: inherit;
    padding: 5px 9px;
}

.background-text--white{
    color: white;
    background-color: black;
}

.background-text--black{
    color: black;
    background-color: white;
}

.time-element, .time-element__num{
    font: inherit;
}

.time-element__num{
    color: var(--main-color);
}

.header, .settings{
    width: 100%;
    border-bottom: 1px solid var(--main-color);
    background-image: linear-gradient(
      245deg,
      hsl(223deg 68% 6%) 55%,
      hsl(245deg 46% 13%) 85%,
      hsl(253deg 55% 19%) 93%,
      hsl(257deg 62% 25%) 96%,
      hsl(259deg 68% 31%) 99%,
      hsl(261deg 74% 36%) 100%,
      hsl(262deg 80% 42%) 101%,
      hsl(264deg 87% 47%) 101%,
      hsl(266deg 100% 50%) 101%,
      hsl(264deg 100% 61%) 101%,
      hsl(265deg 99% 66%) 101%,
      hsl(266deg 97% 71%) 101%,
      hsl(268deg 95% 76%) 101%,
      hsl(269deg 91% 81%) 101%,
      hsl(270deg 83% 85%) 101%,
      hsl(271deg 68% 90%) 100%,
      hsl(270deg 27% 94%) 100%
    );
}

.header__inner{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo, .header__logo-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 14px;
}

.logo{
    height: 80px;
}

.creator{
    padding-top: 10px;
    gap: 0 7px;
    display: flex;
    align-items: center;
}

.creator__text{
    color: var(--main-color);
}

.creator__img{
  margin-right: 10px; 
}

.settings-open-btn, .settings-close-btn{
    gap: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-inactive{
    position: absolute;
    top: 101px;
    background-color: rgba(217, 217, 217, 0.7);
    width: 100%;
    height: calc(100% - 101px);
    z-index: 50;
}

.settings{
    top: 101px;
    position: absolute;
    z-index: 100;
}

.settings__inner{
    height: 216px;
    padding: 36px 0;
    display: grid;
    grid-template-rows: repeat(2, .5fr);
    grid-template-columns: repeat(2, .5fr);
    grid-row-gap: 40px;
    align-items: center;
}

.settings__times, .settings__tips-vision{
    display: flex;
    align-items: center;
    gap: 0 14px;
}

.timer__left{
    margin-bottom: 60px;
}

.timer__left-title{
    margin-bottom: 6px;
}

.timer__pause, .timer__restart{
    display: block;
}

.timer__restart{
    margin-bottom: 37px;
}

.timer__restart, .timer__pause{
    width: 100%;
}

.timer__pause{
    margin-bottom: 60px;
}

.timer__pause-inner{
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer__pause-icon{
    margin-left: 10px;
}

.lost-figures{
    margin-bottom: 30px;
}

.lost-figures__title{
    padding-bottom: 16px;
}

.lost-figures__placeholder{
    color: black;
}

.lost-figures__list{
    background-color: white;
    padding: 20px 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 264px;
}

.lost-figures__img{
    height: 40px;
}

.board{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    position: relative;
}

.board--inactive{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(217, 217, 217, 0.7);
    z-index: 10;
}

.pawn-selection{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(217, 217, 217, 0.7);
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pawn-cell{
    cursor: pointer;
}

.cell{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img{
    height: 54px;
    position: relative;
}

.black{
    background-color: var(--main-color);
}

.white{
    background-color: #fff;
}

.selected{
    background-color: #00C2FF;
}

.available-move{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #00C2FF;
}

.available-kill{
    background-color: #C41E3A;
}

.white-theme {
  background-image: linear-gradient(
  90deg,
  hsl(270deg 100% 7%) 0%,
  hsl(258deg 88% 11%) 7%,
  hsl(246deg 77% 15%) 14%,
  hsl(234deg 68% 19%) 21%,
  hsl(223deg 59% 24%) 29%,
  hsl(211deg 51% 30%) 36%,
  hsl(199deg 44% 35%) 43%,
  hsl(187deg 38% 41%) 50%,
  hsl(175deg 32% 48%) 57%,
  hsl(163deg 32% 55%) 64%,
  hsl(151deg 36% 62%) 71%,
  hsl(139deg 39% 70%) 79%,
  hsl(128deg 45% 78%) 86%,
  hsl(116deg 56% 86%) 93%,
  hsl(104deg 100% 95%) 100%
);
}

.king{
    animation: kingIsUnderAttack 1.5s;
}

@keyframes kingIsUnderAttack {
    33% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.main__content{
    flex: 1 1 auto;
}

.main__inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 35px;
    gap: 30px;
    margin-bottom: 35px;
}

.main__game{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 25px;
}

.main__title{
    margin-bottom: 55px;
}

@media (max-width: 1155px) {
    .settings__inner{
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        height: 350px;

    }
    .main__title{
        margin-bottom: 30px;
    }
    .main__inner{
        margin-bottom: 0;
    }
    .main__game, .main__inner{
        flex-direction: column;
    }
    .main__content, .sidebar__control, .sidebar__control > *{
        width: 100%;
    }
    .main__game{
        align-items: center;
    }
    .timer{
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        grid-template-rows: repeat(2, .5fr);
        grid-gap: 20px 20px;
        align-items: center;
        margin-bottom: 20px;
    }
    .timer > *{
        margin: 0;
    }
    .timer > div{
        order: -1;
    }
    .lost-figures{
        width: 45%;
    }
    .sidebar__lost-figures-box{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .lost-figures__list{
        max-width: 100%;
    }
}

@media (max-width: 660px) {
    .settings__inner{
        grid-template-rows: auto;
        grid-template-columns: 1fr;
        align-content: center;
        height: 500px;
    }
    .settings-close-btn > span, .settings-open-btn > span {
        display: none;
    }
    .settings__tips-vision{
        flex-wrap: wrap;
        gap: 10px;
    }
    .header__logo-text{
        flex-direction: column;
        align-items: flex-start;
    }
    .cell {
        width: 10vw;
        height: 10vw;
    }
    .cell img{
        max-height: 80%;
    }
    .available-move{
        height: 8px;
        width: 8px;
        border-radius: 50%;
        background-color: #00C2FF;
    }
    .main__title{
        margin-bottom: 20px;
    }
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 22px;
    }
    .timer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-gap: 20px 20px;
        align-items: center;
        margin-bottom: 20px;
    }
    .timer__left{
        display: flex;
        justify-content: center;
        gap: 0 10px;
        flex-wrap: wrap;
        align-items: center;
    }
    .timer__left-title{
        padding-top: 6px;
    }
    .lost-figures{
        width: 100%;
    }
    .sidebar__lost-figures-box{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .lost-figures__list{
        max-width: 100%;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 58px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 34px;
    width: 34px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('https://i.ibb.co/FxzBYR9/night.png');
    background-repeat: no-repeat;
    background-position: center;
}

input:checked + .slider {
    background-color: var(--main-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--main-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('https://i.ibb.co/7JfqXxB/sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}















